/* Variables */

:root {
  /* colors */

  --babypink: hsl(0, 69%, 86%);
  --babypink1: hsl(0, 69%, 90%);
  --babypink2: hsl(0, 69%, 85%);
  --babypink3: hsl(0, 69%, 80%);
  --babypink4: hsl(0, 69%, 75%);
  --babypink5: hsl(0, 69%, 70%);
  --babypink6: hsl(0, 69%, 65%);

  --babypink-x: hsl(0, 69%, 81.25%);

  --red: hsl(0, 69%, 65%);
  --blue: hsl(197, 71%, 73%);
  --yellow: hsl(66, 71%, 73%);
  --green: hsl(100, 71%, 73%);
  --orange: hsl(33, 86%, 60%);
  --purple: hsl(250, 71%, 73%);
  --dark: #222;
  --light: #eee;

  --glass-darken-6: hsla(0, 0%, 0%, 0.6);
  --glass-darken-5: hsla(0, 0%, 0%, 0.5);
  --glass-darken-4: hsla(0, 0%, 0%, 0.4);
  --glass-darken-3: hsla(0, 0%, 0%, 0.3);
  --glass-darken-2: hsla(0, 0%, 0%, 0.2);
  --glass-darken-1: hsla(0, 0%, 0%, 0.1);
  --glass: hsla(0, 0%, 100%, 0.1);
  --glass-lighten-2: hsla(0, 0%, 100%, 0.2);
  --glass-lighten-3: hsla(0, 0%, 100%, 0.3);
  --glass-lighten-4: hsla(0, 0%, 100%, 0.4);
  --glass-lighten-5: hsla(0, 0%, 100%, 0.5);
  --glass-lighten-6: hsla(0, 0%, 100%, 0.6);
}

/* Fonts */
/* Montserrat */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* Open Sans */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v27/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVI.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* Fira Code */
@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firacode/v14/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_D1sJVD7Ng.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
.bg-red {
  background-color: var(--red) !important;
  color: white !important;
}
.bg-yellow {
  background-color: var(--yellow) !important;
}
.bg-blue {
  background-color: var(--blue) !important;
}
.bg-green {
  background-color: var(--green) !important;
}
.bg-orange {
  background-color: var(--orange) !important;
}
.bg-purple {
  background-color: var(--purple) !important;
  color: white !important;
}
.bg-dark {
  background-color: var(--dark) !important;
  color: white !important;
}
.bg-light {
  background-color: var(--light) !important;
}
.bg-glass {
  background-color: var(--glass) !important;
}
.bg-glass-lighten-1 {
  background-color: var(--glass-lighten-1) !important;
}
.bg-glass-lighten-2 {
  background-color: var(--glass-lighten-2) !important;
}
.bg-glass-lighten-3 {
  background-color: var(--glass-lighten-3) !important;
}
.bg-glass-lighten-4 {
  background-color: var(--glass-lighten-4) !important;
}
.bg-glass-lighten-5 {
  background-color: var(--glass-lighten-5) !important;
}
.bg-glass-lighten-6 {
  background-color: var(--glass-lighten-6) !important;
}

/* Global Styles */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  /* outline: 2px solid red; */
}

/* text selection color */

::-moz-selection {
  background: hsla(197, 71%, 73%, 0.75);
  color: black;
}
::selection {
  background: hsla(197, 71%, 73%, 0.75);
  color: black;
}
a::-moz-selection {
  background-color: var(--yellow);
  color: black;
}
a::selection {
  background-color: var(--yellow);
  color: black;
}

/* basic HTML elements styles */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: hsl(0, 0%, 50%);
  background-color: var(--babypink5);
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1.125rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.875rem;
}
a {
  text-decoration: none;
  color: hsl(270, 100%, 50%);
}

ul,
ol,
dl {
  width: fit-content;
}

li {
  list-style: none;
}

header {
  background-color: var(--glass-lighten-4);
  padding: 1rem;
}
main {
  background-color: var(--glass-lighten-2);
  padding: 1rem;
}
.hero {
  background-color: var(--glass-lighten-3);
  padding: 1rem;
}
footer {
  background-color: var(--glass-lighten-4);
  padding: 1rem;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  width: fit-content;
}
.container-small {
  max-width: 650px;
  margin: 0 auto;
  width: fit-content;
}
.container-medium {
  max-width: 800px;
  margin: 0 auto;
  width: fit-content;
}
.container-large {
  max-width: 1200px;
  margin: 0 auto;
  width: fit-content;
}
.container-xl {
  max-width: 1600px;
  margin: 0 auto;
  width: fit-content;
}
.container-fliud {
  width: 100%;
  margin: 0 auto;
  width: fit-content;
}

.para {
  margin: 1rem auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  flex-wrap: wrap;
}

.flex-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  flex-wrap: wrap;
}
.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: fit-content;
  flex-wrap: wrap;
}

/******************* UTILITY CLASSES *******************/

.text-xs {
  font-size: 0.25rem !important;
}
.text-small {
  font-size: 0.5rem !important;
}
.text-normal {
  font-size: 1rem !important;
}
.text-large {
  font-size: 1.125rem !important;
}
.text-xl {
  font-size: 1.25rem !important;
}
.text-center {
  text-align: center !important;
}
.text-start {
  text-align: start !important;
}
.text-end {
  text-align: end !important;
}
.visible {
  visibility: visible !important;
}
.hidden {
  visibility: none !important;
}
.display-none {
  display: none !important;
}
.position-realtive {
  position: relative !important;
}
.position-absolute {
  position: absolute !important;
}
.position-static {
  position: static !important;
}
.position-fixed {
  position: fixed !important;
}
.position-sticky {
  position: sticky !important;
}
.display-flex {
  display: flex !important;
}
.display-inline-flex {
  display: inline-flex !important;
}
.display-block {
  display: block !important;
}
.display-inline-block {
  display: inline-block !important;
}
.display-grid {
  display: grid !important;
}
.user-select-none {
  user-select: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
}
.user-select-all {
  user-select: all !important;
  -webkit-user-select: all !important;
  -moz-user-select: all !important;
}
.user-select-auto {
  user-select: auto !important;
  -webkit-user-select: auto !important;
  -moz-user-select: auto !important;
}
.overflow-auto {
  overflow: auto !important;
}
.overflow-hidden {
  overflow: hidden !important;
}
.overflow-visible {
  overflow: visible !important;
}
.overflow-scroll {
  overflow: scroll !important;
}
.shadow-none {
  box-shadow: none;
}
.shadow-small {
  box-shadow: 1px 1px 10px 1px hsla(0, 0%, 0%, 0.25);
}
.shadow {
  box-shadow: 1px 1px 10px 1px hsla(0, 0%, 0%, 0.5);
}
.shadow-large {
  box-shadow: 1px 1px 10px 1.5px hsla(0, 0%, 0%, 0.75);
}
.inset-shadow-small {
  box-shadow: inset 1px 1px 10px 1px hsla(0, 0%, 0%, 0.25);
}
.inset-shadow {
  box-shadow: inset 1px 1px 10px 1px hsla(0, 0%, 0%, 0.5);
}
.inset-shadow-large {
  box-shadow: inset 1px 1px 10px 1.5px hsla(0, 0%, 0%, 0.75);
}
.shadow-alt-small {
  box-shadow: -1px -1px 20px rgba(0, 0, 0, 0.1), 1px 1px 20px rgba(0, 0, 0, 1);
}
.shadow-alt {
  box-shadow: -3px -3px 20px rgba(0, 0, 0, 0.1), 3px 3px 20px rgba(0, 0, 0, 1);
}
.shadow-alt-large {
  box-shadow: -6px -6px 20px rgba(0, 0, 0, 0.1), 6px 6px 20px rgba(0, 0, 0, 1);
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.grid-center {
  display: grid;
  justify-items: center;
  align-items: center;
}
.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bold {
  font-weight: 900 !important;
}
.underline {
  text-decoration: underline !important;
}
.image {
  width: 100% !important;
  height: 100% !important;
}

/******************* MARGIN AND PADDING *******************/

.p1 {
  padding: 1rem;
}
.p2 {
  padding: 0.75rem;
}
.p3 {
  padding: 0.5rem;
}
.p4 {
  padding: 0.25rem;
}
.px {
  padding: 0 1rem;
}
.py {
  padding: 1rem 0;
}
.py-none {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.px-none {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.pt-none {
  padding-top: 0 !important;
}
.pb-none {
  padding-bottom: 0 !important;
}
.pl-none {
  padding-left: 0 !important;
}
.pr-none {
  padding-right: 0 !important;
}
.py-auto {
  padding-top: auto !important;
  padding-bottom: auto !important;
}
.px-auto {
  padding-left: auto !important;
  padding-right: auto !important;
}
.pt-auto {
  padding-top: auto !important;
}
.pb-auto {
  padding-bottom: auto !important;
}
.pl-auto {
  padding-left: auto !important;
}
.pr-auto {
  padding-right: auto !important;
}
.m1 {
  margin: 1rem;
}
.m2 {
  margin: 0.75rem;
}
.m3 {
  margin: 0.5rem;
}
.m4 {
  margin: 0.25rem;
}
.mx {
  margin: 0 1rem;
}
.my {
  margin: 1rem 0;
}
.my-none {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.mx-none {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.mt-none {
  margin-top: 0 !important;
}
.mb-none {
  margin-bottom: 0 !important;
}
.ml-none {
  margin-left: 0 !important;
}
.mr-none {
  margin-right: 0 !important;
}
.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.mt-auto {
  margin-top: auto !important;
}
.mb-auto {
  margin-bottom: auto !important;
}
.ml-auto {
  margin-left: auto !important;
}
.mr-auto {
  margin-right: auto !important;
}
.glass-border {
  border: 3px solid rgba(255, 255, 255, 0.1) !important;
}
.rounded {
  border-radius: 0.5rem !important;
}
.rounded-top {
  border-radius: 0.5rem 0.5rem 0 0 !important;
}
.rounded-bottom {
  border-radius: 0 0 0.5rem 0.5rem !important;
}
.circle {
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/******************* BUTTONS *******************/

.btn {
  display: flex;
  border-radius: 0.5rem;
  padding: 1rem 1.6rem;
  background-color: hsl(197, 71%, 73%);
  width: fit-content;
  border: 3px solid black;
  font-size: 1rem;
  /* margin: 1rem 0; */
  color: black;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.btn:active {
  box-shadow: inset 1px 1px 3px 1px hsla(0, 0%, 0%, 0.5);
}
.link {
  text-decoration: underline;
  font-size: 1rem;
  border: none;
  background-color: transparent;
  color: hsl(211, 100%, 38%);
  cursor: pointer;
}

/******************* ACCORDION *******************/

.accordion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}
.accordion-container {
  display: grid;
  row-gap: 0.75rem;
  padding: 2rem 1rem;
  background-color: var(--glass);
  border-radius: 1rem;
}
.accordion-container-header {
  margin-bottom: 1rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.accordion-container-footer {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin-top: 1rem;
}
.accordion-title {
  font-weight: 400;
  margin-top: 0.15rem;
  transition: 0.2s;
  text-align: left;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.accordion-header {
  display: flex;
  column-gap: 0.5rem;
  padding: 1.25rem 1.25rem 1.25rem 1rem;
  cursor: pointer;
  background-color: var(--glass-lighten-3);
  border-bottom: 1px solid var(--glass-darken-1);
  border-radius: 0.5rem;
}
.accordion-description {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--glass);
}
.accordion-icon {
  height: max-content;
  transition: 0.3s;
  margin: auto;
  margin-right: 0;
}
.accordion-item {
  border-radius: 0.25rem;
  position: relative;
  transition: all 0.25s ease;
  background-color: var(--glass);
  border-radius: 0.5rem;
}
.accordion-content {
  overflow: hidden;
  height: 0;
  transition: all 0.25s ease;
  border-radius: 0.5rem;
}
.accordion-open .accordion-container-header {
  background-color: black;
}
.accordion-open .accordion-icon {
  transform: rotate(180deg) translateY(0.25rem);
}
.accordion-open .accordion-title {
  font-weight: 600;
}

/******************* BADGES *******************/

.badge {
  background-color: var(--babypink6);
  padding: 0.5rem 1rem;
  font-weight: 900;
  margin: 0.1rem;
}

/******************* FORMS *******************/

.form {
  background-color: rgba(255, 255, 255, 0.1);
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 2rem 1rem;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
}

#name,
#email,
.form-textarea {
  outline: none;
}

input {
  background-color: rgba(255, 255, 255, 0.1);
  font-family: sans-serif;
  width: 100%;
  margin: 0.5rem auto;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 3px solid rgba(255, 255, 255, 0.1);
  font-size: 1rem;
}
textarea {
  background-color: rgba(255, 255, 255, 0.1);
  font-family: sans-serif;
  resize: none;
  width: 100%;
  margin: 0.5rem auto;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 3px solid rgba(255, 255, 255, 0.1);
  font-size: 1rem;
}
::placeholder {
  color: rgb(120, 120, 120);
  opacity: 1;
}
::-moz-placeholder {
  color: rgb(120, 120, 120);
  opacity: 1;
}
::-webkit-input-placeholder {
  color: rgb(120, 120, 120);
  opacity: 1;
}
.submit {
  border: 3px solid var(--glass-darken-2);
  background-color: var(--green);
  padding: 0.75rem 1.5rem;
  font-family: "Fira Code", monospace;
  font-size: 1.25rem;
  box-shadow: 4px 4px 10px #000;
  transition: 0.3s;
}
.contact-form,
.submit:hover {
  background-color: var(--dark);
  color: var(--red);
  border: 3px solid var(--red);
}
input,
textarea {
  border: 3px solid rgba(255, 255, 255, 0.1);
  outline: none;
}
.contact-form,
input:focus,
textarea:focus {
  border: 3px solid var(--babypink6);
}

/******************* CARDS *******************/

.three-items {
  width: 30% !important;
}
.three-items .btn {
  padding: 0.75rem 0.5rem !important;
  font-size: 0.9rem !important;
}
.three-items .link {
  padding: 0.75rem 0.25rem !important;
  font-size: 1.125rem !important;
}

.two-items {
  width: 45% !important;
}
.two-items .btn {
  padding: 0.75rem 0.5rem !important;
  font-size: 1rem !important;
}
.two-items .link {
  padding: 0.75rem 0.25rem !important;
  font-size: 1.125rem !important;
}

.one-item {
  width: 90% !important;
}
.one-item .btn {
  padding: 0.75rem 0.5rem !important;
  font-size: 1rem !important;
}
.one-item .link {
  padding: 0.75rem 0.25rem !important;
  font-size: 1.125rem !important;
}

.card {
  width: fit-content;
  background-color: var(--glass);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.5rem;
  width: 30%;
}

.card-image {
  width: 100%;
  height: 100%;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-title {
  padding: 1rem;
  background-color: var(--glass-lighten-2);
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}

.card-subtitle {
  padding: 1rem;
  padding-bottom: 0;
  width: 100%;
  font-size: 1.125rem;
  text-align: left;
}
.card-title {
  padding: 1rem;
  background-color: var(--glass-lighten-2);
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}

.card-description {
  padding: 1rem;
}

.card-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: var(--glass-lighten-2);
  width: 100%;
  border-radius: 0 0 0.5rem 0.5rem;
}

.card-btn-div .btn {
  margin: 1rem;
  padding: 0.7rem 1.5rem;
  border: 2px solid var(--glass-darken-2);
  width: 100%;
  max-width: 45%;
}
.card-btn-div .link {
  margin: 1rem;
  padding: 0.7rem 1.5rem;
  width: 100%;
  font-size: 1.25rem;
}

.card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: var(--glass-lighten-2);
  width: 100%;
  border-radius: 0 0 0.5rem 0.5rem;
}

.card-footer .card-footer-info {
  padding: 1rem;
}

@media screen and (max-width: 750px) {
  .card {
    width: 100% !important;
  }
}

/******************* ___ *******************/

/******************* UTILITY CLASSES FOR MOBILE *******************/

@media screen and (max-width: 750px) {
  .mobile-display-none {
    display: none !important;
  }
  .mobile-display-block {
    display: block !important;
  }
  .mobile-display-flex {
    display: flex !important;
  }
  .mobile-display-grid {
    display: grid !important;
  }
}
